
@{
    ViewBag.Title = "bai3";
}

<h2>bai3</h2>
@using (Html.BeginForm())
{
    <label>Nhập n :</label>
    <input type="text" name="sox" />
    <input type="submit" value="Tính tổng SNT" />
}

@ViewBag.Tong


