
@{
    ViewBag.Title = "bai4";
}

<h2>bai4</h2>
@using (Html.BeginForm())
{
    <label>Nhập n :</label>
    <input type="text" name="sox" />
    <input type="submit" value="Kiểm tra SNT" />
}

@ViewBag.snt
<br />
@ViewBag.Tong


